
.form-label {
    font-weight: bold;
    font-weight: 500;
    color: black;
    font-size: 14px;
}

.nav-tabs .nav-link.active {
    font-weight: bold;
    font-weight: 500;
    font-size: 14px;
}

.custom-img {
    width: 100%;
    max-width: 250px;
    height: auto;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

    .form-group .form-label {
        flex: 1 0 30%;
        max-width: 30%;
    }

    .form-group .form-control,
    .form-group .form-select,
    .form-group .form-check-input {
        flex: 1 0 70%;
        max-width: 70%;
    }

    .form-group .form-check-label {
        flex: 1 0 70%;
        max-width: 70%;
    }
