<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Title -->
    <title>Qerza - Job Portal Admin Dashboard | Bootstrap HTML Template</title>

    <!-- Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="DexignZone" />
    <meta name="robots" content="" />
    <meta name="keywords"
          content="job portal, admin dashboard, Bootstrap HTML template, job listings, applicants, user-friendly interface, powerful functionalities" />
    <meta name="description"
          content="Qerza is a versatile job portal admin dashboard powered by Bootstrap HTML. Streamline job listings, applicants, and enhance your recruitment process. User-friendly interface with powerful functionalities. Job portal, admin dashboard, Bootstrap HTML template." />
    <meta property="og:title"
          content="Qerza - Job Portal Admin Dashboard | Bootstrap HTML Template" />
    <meta property="og:description"
          content="Qerza is a versatile job portal admin dashboard powered by Bootstrap HTML. Streamline job listings, applicants, and enhance your recruitment process. User-friendly interface with powerful functionalities. Job portal, admin dashboard, Bootstrap HTML template." />
    <meta property="og:image"
          content="https://qerza.dexignzone.com/xhtml/social-image.png" />
    <meta name="format-detection" content="telephone=no" />

    <!-- Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Favicon icon -->
    <link rel="icon" type="image/png" href="~/lib_template/images/favicon.png" />
    <link href="~/lib_template/vendor/bootstrap-select/dist/css/bootstrap-select.min.css"
          rel="stylesheet" />
    <link href="~/lib_template/vendor/lightgallery/css/lightgallery.min.css"
          rel="stylesheet" />
    <link href="~/lib_template/css/style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet" />
    <style>
        .form-label {
            font-weight: bold;
            font-weight: 500;
            color: black;
            font-size: 14px;
        }

        .nav-tabs .nav-link.active {
            font-weight: bold;
            font-weight: 500;
            font-size: 14px;
        }

        .custom-img {
            width: 100%;
            max-width: 250px;
            height: auto;
        }

        .form-group {
            display: flex;
            align-items: center;
            margin-bottom: 0.5rem;
        }

            .form-group .form-label {
                flex: 1 0 30%;
                max-width: 30%;
            }

            .form-group .form-control,
            .form-group .form-select,
            .form-group .form-check-input {
                flex: 1 0 70%;
                max-width: 70%;
            }

            .form-group .form-check-label {
                flex: 1 0 70%;
                max-width: 70%;
            }
    </style>
</head>

<body>
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">
        <!--**********************************
              Nav header start
          ***********************************-->
        <div class="nav-header">
            <a href="index.html" class="brand-logo">
                <svg class="logo-abbr" width="64px" height="64px">
                    <path class="svg-logo-path"
                          fill-rule="evenodd"
                          fill="rgb(135, 67, 223)"
                          d="M21.000,-0.000 L42.999,-0.000 C54.598,-0.000 64.000,9.402 64.000,21.000 L64.000,43.000 C64.000,54.598 54.598,64.000 42.999,64.000 L21.000,64.000 C9.402,64.000 -0.000,54.598 -0.000,43.000 L-0.000,21.000 C-0.000,9.402 9.402,-0.000 21.000,-0.000 Z" />
                    <path class="svg-logo-path-text"
                          fill-rule="evenodd"
                          fill="rgb(255, 255, 255)"
                          d="M39.090,43.394 L44.818,52.000 L34.684,52.000 L31.405,46.279 C30.182,46.471 28.908,46.567 27.587,46.567 C18.775,46.567 12.999,40.798 12.999,32.385 C12.999,20.413 21.419,12.000 33.314,12.000 C42.272,12.000 47.999,17.673 47.999,26.038 C47.999,33.635 44.622,39.885 39.090,43.394 ZM32.237,19.548 C25.531,19.548 21.370,25.077 21.370,31.519 C21.370,36.087 24.013,38.971 28.860,38.971 C35.517,38.971 39.678,33.346 39.678,26.952 C39.678,22.385 36.985,19.548 32.237,19.548 Z" />
                </svg>
                <svg class="brand-title"
                     width="101"
                     height="47"
                     fill-rule="evenodd"
                     fill="#272727">
                    <path class="svg-logo-text-path"
                          d="M95.253 22.25l-.635-3.875H86.3l-2.033 3.875h-5.683L90.586.312h6.286L101 22.25h-5.747zM92.682 6.187l-4.256 8.125h5.557l-1.301-8.125zm-24.82 11.688h9.589l-.794 4.375H60.91l.729-4.063 11.938-13.5h-9.524l.793-4.375h15.748l-.73 4.063-12.002 13.5zm-13.218-4.313l3.587 8.688h-6.127l-3.143-8.281h-1.302l-1.493 8.281h-5.429L44.674.312h9.112c5.461 0 7.652 3.094 6.954 6.907-.476 2.75-2.476 5.343-6.096 6.343zm-1.969-8.875H49.31l-.984 5.5h3.365c2.032 0 3.175-1.031 3.493-2.75.317-1.656-.477-2.75-2.509-2.75zm-20.352-.156l-.793 4.563h7.27l-.73 4.031h-7.271l-.888 4.906h8.223l-.762 4.219H23.719L27.656.312h13.653l-.762 4.219h-8.224zM20.637 26h-6.573l-2.126-3.719c-.795.125-1.619.188-2.477.188C3.746 22.469 0 18.719 0 13.25 0 5.469 5.461 0 13.176 0c5.81 0 9.524 3.687 9.524 9.125 0 4.937-2.19 9-5.778 11.281L20.637 26zM17.303 9.719c0-2.969-1.746-4.813-4.826-4.813-4.35 0-7.048 3.594-7.048 7.781 0 2.969 1.714 4.844 4.857 4.844 4.318 0 7.017-3.656 7.017-7.812zM73.255 44.49c-1.056 0-1.806-.54-2.165-1.1V47h-.96v-8.08h.96v1.01c.349-.58 1.109-1.1 2.165-1.1 1.552 0 2.744 1.1 2.744 2.81 0 1.7-1.192 2.85-2.744 2.85zm-.201-4.87c-1.046 0-1.964.76-1.964 2.03 0 1.29.918 2.04 1.964 2.04 1.067 0 1.964-.76 1.964-2.05s-.897-2.02-1.964-2.02zm-6.934 4.87c-1.056 0-1.805-.54-2.164-1.1V47h-.961v-8.08h.961v1.01c.348-.58 1.108-1.1 2.164-1.1 1.552 0 2.744 1.1 2.744 2.81 0 1.7-1.192 2.85-2.744 2.85zm-.201-4.87c-1.045 0-1.963.76-1.963 2.03 0 1.29.918 2.04 1.963 2.04 1.067 0 1.964-.76 1.964-2.05s-.897-2.02-1.964-2.02zm-5.689 3.23h-3.209l-.592 1.55h-1.013l2.66-6.93h1.109l2.65 6.93h-1.013l-.592-1.55zm-1.604-4.26l-1.331 3.52h2.661l-1.33-3.52zM50.467 37h.961v7.4h-.961V37zm-2.594 6.38c-.349.59-1.098 1.11-2.165 1.11-1.541 0-2.734-1.15-2.734-2.85 0-1.71 1.193-2.81 2.745-2.81 1.077 0 1.816.52 2.154 1.09v-1h.971v5.48h-.971v-1.02zm-1.964-3.76c-1.056 0-1.954.73-1.954 2.02s.898 2.05 1.954 2.05 1.964-.75 1.964-2.04c0-1.27-.908-2.03-1.964-2.03zm-6.211 3.28v-3.23h-.749v-.75h.749v-1.38h.961v1.38h1.51v.75h-1.51v3.23c0 .54.211.73.803.73h.707v.77h-.866c-1.024 0-1.605-.4-1.605-1.5zm-3.189-1.48v2.98h-.96v-5.48h.96v.89c.327-.61.951-.99 1.869-.99v.94h-.254c-.918 0-1.615.39-1.615 1.66zm-5.191 3.07c-1.636 0-2.882-1.1-2.882-2.84 0-1.73 1.288-2.82 2.925-2.82 1.647 0 2.925 1.09 2.925 2.82 0 1.74-1.321 2.84-2.968 2.84zm.032-4.87c-1.014 0-1.932.65-1.932 2.03 0 1.39.898 2.04 1.9 2.04s1.985-.65 1.985-2.04c0-1.38-.961-2.03-1.953-2.03zm-6.293 1.87h-1.416v2.91h-.96v-6.97h2.376c1.731 0 2.544.9 2.544 2.04 0 1.06-.718 2.02-2.544 2.02zm0-3.31h-1.416v2.56h1.416c1.097 0 1.562-.49 1.562-1.27 0-.81-.465-1.29-1.562-1.29zm-9.2 6.31c-1.056 0-1.806-.5-2.165-1.1v1.01h-.961V37h.961v2.94c.37-.61 1.14-1.11 2.165-1.11 1.562 0 2.745 1.1 2.745 2.81 0 1.7-1.193 2.85-2.745 2.85zm-.201-4.87c-1.045 0-1.964.76-1.964 2.03 0 1.29.919 2.04 1.964 2.04 1.066 0 1.963-.76 1.963-2.05s-.897-2.02-1.963-2.02zm-7.154 4.87c-1.637 0-2.882-1.1-2.882-2.84 0-1.73 1.287-2.82 2.924-2.82 1.646 0 2.924 1.09 2.924 2.82 0 1.74-1.319 2.84-2.966 2.84zm.031-4.87c-1.013 0-1.932.65-1.932 2.03 0 1.39.897 2.04 1.901 2.04s1.985-.65 1.985-2.04c0-1.38-.961-2.03-1.954-2.03zm-6.485 4.85C.823 44.47 0 43.73 0 42.51h.96c.011.64.328 1.15 1.088 1.15s1.066-.5 1.066-1.08v-5.15h.971v5.15c0 1.16-.823 1.89-2.037 1.89z" />
                </svg>
            </a>
            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
              Nav header end
          ***********************************-->
        <!--**********************************
              Chat box start
          ***********************************-->
        <div class="chatbox">
            <div class="chatbox-close"></div>
            <div class="custom-tab-1">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#notes">Notes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#alerts">Alerts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#chat">Chat</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="chat" role="tabpanel">
                        <div class="card mb-sm-3 mb-md-0 contacts_card dz-chat-user-box">
                            <div class="card-header chat-list-header text-center">
                                <a href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink"
                                         width="18px"
                                         height="18px"
                                         viewBox="0 0 24 24"
                                         version="1.1">
                                        <g stroke="none"
                                           stroke-width="1"
                                           fill="none"
                                           fill-rule="evenodd">
                                            <rect fill="#000000"
                                                  x="4"
                                                  y="11"
                                                  width="16"
                                                  height="2"
                                                  rx="1" />
                                            <rect fill="#000000"
                                                  opacity="0.3"
                                                  transform="translate(12.000000, 12.000000) rotate(-270.000000) translate(-12.000000, -12.000000) "
                                                  x="4"
                                                  y="11"
                                                  width="16"
                                                  height="2"
                                                  rx="1" />
                                        </g>
                                    </svg>
                                </a>
                                <div>
                                    <h6 class="mb-1">Chat List</h6>
                                    <p class="mb-0">Show All</p>
                                </div>
                                <a href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink"
                                         width="18px"
                                         height="18px"
                                         viewBox="0 0 24 24"
                                         version="1.1">
                                        <g stroke="none"
                                           stroke-width="1"
                                           fill="none"
                                           fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24" />
                                            <circle fill="#000000" cx="5" cy="12" r="2" />
                                            <circle fill="#000000" cx="12" cy="12" r="2" />
                                            <circle fill="#000000" cx="19" cy="12" r="2" />
                                        </g>
                                    </svg>
                                </a>
                            </div>
                            <div class="card-body contacts_body p-0 dz-scroll"
                                 id="DZ_W_Contacts_Body">
                                <ul class="contacts">
                                    <li class="name-first-letter">A</li>
                                    <li class="active dz-chat-user">
                                        <div class="d-flex bd-highlight">
                                            <div class="img_cont">
                                                <img src="images/avatar/1.jpg"
                                                     class="rounded-circle user_img"
                                                     alt="" />
                                                <span class="online_icon"></span>
                                            </div>
                                            <div class="user_info">
                                                <span>Archie Parker</span>
                                                <p>Kalid is online</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="dz-chat-user">
                                        <div class="d-flex bd-highlight">
                                            <div class="img_cont">
                                                <img src="images/avatar/2.jpg"
                                                     class="rounded-circle user_img"
                                                     alt="" />
                                                <span class="online_icon offline"></span>
                                            </div>
                                            <div class="user_info">
                                                <span>Alfie Mason</span>
                                                <p>Taherah left 7 mins ago</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="dz-chat-user">
                                        <div class="d-flex bd-highlight">
                                            <div class="img_cont">
                                                <img src="images/avatar/3.jpg"
                                                     class="rounded-circle user_img"
                                                     alt="" />
                                                <span class="online_icon"></span>
                                            </div>
                                            <div class="user_info">
                                                <span>AharlieKane</span>
                                                <p>Sami is online</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="dz-chat-user">
                                        <div class="d-flex bd-highlight">
                                            <div class="img_cont">
                                                <img src="images/avatar/4.jpg"
                                                     class="rounded-circle user_img"
                                                     alt="" />
                                                <span class="online_icon offline"></span>
                                            </div>
                                            <div class="user_info">
                                                <span>Athan Jacoby</span>
                                                <p>Nargis left 30 mins ago</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="name-first-letter">B</li>
                                    <li class="dz-chat-user">
                                        <div class="d-flex bd-highlight">
                                            <div class="img_cont">
                                                <img src="images/avatar/5.jpg"
                                                     class="rounded-circle user_img"
                                                     alt="" />
                                                <span class="online_icon offline"></span>
                                            </div>
                                            <div class="user_info">
                                                <span>Bashid Samim</span>
                                                <p>Rashid left 50 mins ago</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="dz-chat-user">
                                        <div class="d-flex bd-highlight">
                                            <div class="img_cont">
                                                <img src="images/avatar/1.jpg"
                                                     class="rounded-circle user_img"
                                                     alt="" />
                                                <span class="online_icon"></span>
                                            </div>
                                            <div class="user_info">
                                                <span>Breddie Ronan</span>
                                                <p>Kalid is online</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="dz-chat-user">
                                        <div class="d-flex bd-highlight">
                                            <div class="img_cont">
                                                <img src="images/avatar/2.jpg"
                                                     class="rounded-circle user_img"
                                                     alt="" />
                                                <span class="online_icon offline"></span>
                                            </div>
                                            <div class="user_info">
                                                <span>Ceorge Carson</span>
                                                <p>Taherah left 7 mins ago</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="name-first-letter">D</li>
                                    <li class="dz-chat-user">
                                        <div class="d-flex bd-highlight">
                                            <div class="img_cont">
                                                <img src="images/avatar/3.jpg"
                                                     class="rounded-circle user_img"
                                                     alt="" />
                                                <span class="online_icon"></span>
                                            </div>
                                            <div class="user_info">
                                                <span>Darry Parker</span>
                                                <p>Sami is online</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="dz-chat-user">
                                        <div class="d-flex bd-highlight">
                                            <div class="img_cont">
                                                <img src="images/avatar/4.jpg"
                                                     class="rounded-circle user_img"
                                                     alt="" />
                                                <span class="online_icon offline"></span>
                                            </div>
                                            <div class="user_info">
                                                <span>Denry Hunter</span>
                                                <p>Nargis left 30 mins ago</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="name-first-letter">J</li>
                                    <li class="dz-chat-user">
                                        <div class="d-flex bd-highlight">
                                            <div class="img_cont">
                                                <img src="images/avatar/5.jpg"
                                                     class="rounded-circle user_img"
                                                     alt="" />
                                                <span class="online_icon offline"></span>
                                            </div>
                                            <div class="user_info">
                                                <span>Jack Ronan</span>
                                                <p>Rashid left 50 mins ago</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="dz-chat-user">
                                        <div class="d-flex bd-highlight">
                                            <div class="img_cont">
                                                <img src="images/avatar/1.jpg"
                                                     class="rounded-circle user_img"
                                                     alt="" />
                                                <span class="online_icon"></span>
                                            </div>
                                            <div class="user_info">
                                                <span>Jacob Tucker</span>
                                                <p>Kalid is online</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="dz-chat-user">
                                        <div class="d-flex bd-highlight">
                                            <div class="img_cont">
                                                <img src="images/avatar/2.jpg"
                                                     class="rounded-circle user_img"
                                                     alt="" />
                                                <span class="online_icon offline"></span>
                                            </div>
                                            <div class="user_info">
                                                <span>James Logan</span>
                                                <p>Taherah left 7 mins ago</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="dz-chat-user">
                                        <div class="d-flex bd-highlight">
                                            <div class="img_cont">
                                                <img src="images/avatar/3.jpg"
                                                     class="rounded-circle user_img"
                                                     alt="" />
                                                <span class="online_icon"></span>
                                            </div>
                                            <div class="user_info">
                                                <span>Joshua Weston</span>
                                                <p>Sami is online</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="name-first-letter">O</li>
                                    <li class="dz-chat-user">
                                        <div class="d-flex bd-highlight">
                                            <div class="img_cont">
                                                <img src="images/avatar/4.jpg"
                                                     class="rounded-circle user_img"
                                                     alt="" />
                                                <span class="online_icon offline"></span>
                                            </div>
                                            <div class="user_info">
                                                <span>Oliver Acker</span>
                                                <p>Nargis left 30 mins ago</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="dz-chat-user">
                                        <div class="d-flex bd-highlight">
                                            <div class="img_cont">
                                                <img src="images/avatar/5.jpg"
                                                     class="rounded-circle user_img"
                                                     alt="" />
                                                <span class="online_icon offline"></span>
                                            </div>
                                            <div class="user_info">
                                                <span>Oscar Weston</span>
                                                <p>Rashid left 50 mins ago</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card chat dz-chat-history-box d-none">
                            <div class="card-header chat-list-header text-center">
                                <a href="#" class="dz-chat-history-back">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink"
                                         width="18px"
                                         height="18px"
                                         viewBox="0 0 24 24"
                                         version="1.1">
                                        <g stroke="none"
                                           stroke-width="1"
                                           fill="none"
                                           fill-rule="evenodd">
                                            <polygon points="0 0 24 0 24 24 0 24" />
                                            <rect fill="#000000"
                                                  opacity="0.3"
                                                  transform="translate(15.000000, 12.000000) scale(-1, 1) rotate(-90.000000) translate(-15.000000, -12.000000) "
                                                  x="14"
                                                  y="7"
                                                  width="2"
                                                  height="10"
                                                  rx="1" />
                                            <path d="M3.7071045,15.7071045 C3.3165802,16.0976288 2.68341522,16.0976288 2.29289093,15.7071045 C1.90236664,15.3165802 1.90236664,14.6834152 2.29289093,14.2928909 L8.29289093,8.29289093 C8.67146987,7.914312 9.28105631,7.90106637 9.67572234,8.26284357 L15.6757223,13.7628436 C16.0828413,14.136036 16.1103443,14.7686034 15.7371519,15.1757223 C15.3639594,15.5828413 14.7313921,15.6103443 14.3242731,15.2371519 L9.03007346,10.3841355 L3.7071045,15.7071045 Z"
                                                  fill="#000000"
                                                  fill-rule="nonzero"
                                                  transform="translate(9.000001, 11.999997) scale(-1, -1) rotate(90.000000) translate(-9.000001, -11.999997) " />
                                        </g>
                                    </svg>
                                </a>
                                <div>
                                    <h6 class="mb-1">Chat with Khelesh</h6>
                                    <p class="mb-0 text-success">Online</p>
                                </div>
                                <div class="dropdown">
                                    <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink"
                                             width="18px"
                                             height="18px"
                                             viewBox="0 0 24 24"
                                             version="1.1">
                                            <g stroke="none"
                                               stroke-width="1"
                                               fill="none"
                                               fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24" />
                                                <circle fill="#000000" cx="5" cy="12" r="2" />
                                                <circle fill="#000000" cx="12" cy="12" r="2" />
                                                <circle fill="#000000" cx="19" cy="12" r="2" />
                                            </g>
                                        </svg>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li class="dropdown-item">
                                            <i class="fa fa-user-circle text-primary me-2"></i> View
                                            profile
                                        </li>
                                        <li class="dropdown-item">
                                            <i class="fa fa-users text-primary me-2"></i> Add to
                                            close friends
                                        </li>
                                        <li class="dropdown-item">
                                            <i class="fa fa-plus text-primary me-2"></i> Add to
                                            group
                                        </li>
                                        <li class="dropdown-item">
                                            <i class="fa fa-ban text-primary me-2"></i> Block
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body msg_card_body dz-scroll"
                                 id="DZ_W_Contacts_Body3">
                                <div class="d-flex justify-content-start mb-4">
                                    <div class="img_cont_msg">
                                        <img src="images/avatar/1.jpg"
                                             class="rounded-circle user_img_msg"
                                             alt="" />
                                    </div>
                                    <div class="msg_cotainer">
                                        Hi, how are you samim?
                                        <span class="msg_time">8:40 AM, Today</span>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end mb-4">
                                    <div class="msg_cotainer_send">
                                        Hi Khalid i am good tnx how about you?
                                        <span class="msg_time_send">8:55 AM, Today</span>
                                    </div>
                                    <div class="img_cont_msg">
                                        <img src="images/avatar/2.jpg"
                                             class="rounded-circle user_img_msg"
                                             alt="" />
                                    </div>
                                </div>
                                <div class="d-flex justify-content-start mb-4">
                                    <div class="img_cont_msg">
                                        <img src="images/avatar/1.jpg"
                                             class="rounded-circle user_img_msg"
                                             alt="" />
                                    </div>
                                    <div class="msg_cotainer">
                                        I am good too, thank you for your chat template
                                        <span class="msg_time">9:00 AM, Today</span>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end mb-4">
                                    <div class="msg_cotainer_send">
                                        You are welcome
                                        <span class="msg_time_send">9:05 AM, Today</span>
                                    </div>
                                    <div class="img_cont_msg">
                                        <img src="images/avatar/2.jpg"
                                             class="rounded-circle user_img_msg"
                                             alt="" />
                                    </div>
                                </div>
                                <div class="d-flex justify-content-start mb-4">
                                    <div class="img_cont_msg">
                                        <img src="images/avatar/1.jpg"
                                             class="rounded-circle user_img_msg"
                                             alt="" />
                                    </div>
                                    <div class="msg_cotainer">
                                        I am looking for your next templates
                                        <span class="msg_time">9:07 AM, Today</span>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end mb-4">
                                    <div class="msg_cotainer_send">
                                        Ok, thank you have a good day
                                        <span class="msg_time_send">9:10 AM, Today</span>
                                    </div>
                                    <div class="img_cont_msg">
                                        <img src="images/avatar/2.jpg"
                                             class="rounded-circle user_img_msg"
                                             alt="" />
                                    </div>
                                </div>
                                <div class="d-flex justify-content-start mb-4">
                                    <div class="img_cont_msg">
                                        <img src="images/avatar/1.jpg"
                                             class="rounded-circle user_img_msg"
                                             alt="" />
                                    </div>
                                    <div class="msg_cotainer">
                                        Bye, see you
                                        <span class="msg_time">9:12 AM, Today</span>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-start mb-4">
                                    <div class="img_cont_msg">
                                        <img src="images/avatar/1.jpg"
                                             class="rounded-circle user_img_msg"
                                             alt="" />
                                    </div>
                                    <div class="msg_cotainer">
                                        Hi, how are you samim?
                                        <span class="msg_time">8:40 AM, Today</span>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end mb-4">
                                    <div class="msg_cotainer_send">
                                        Hi Khalid i am good tnx how about you?
                                        <span class="msg_time_send">8:55 AM, Today</span>
                                    </div>
                                    <div class="img_cont_msg">
                                        <img src="images/avatar/2.jpg"
                                             class="rounded-circle user_img_msg"
                                             alt="" />
                                    </div>
                                </div>
                                <div class="d-flex justify-content-start mb-4">
                                    <div class="img_cont_msg">
                                        <img src="images/avatar/1.jpg"
                                             class="rounded-circle user_img_msg"
                                             alt="" />
                                    </div>
                                    <div class="msg_cotainer">
                                        I am good too, thank you for your chat template
                                        <span class="msg_time">9:00 AM, Today</span>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end mb-4">
                                    <div class="msg_cotainer_send">
                                        You are welcome
                                        <span class="msg_time_send">9:05 AM, Today</span>
                                    </div>
                                    <div class="img_cont_msg">
                                        <img src="images/avatar/2.jpg"
                                             class="rounded-circle user_img_msg"
                                             alt="" />
                                    </div>
                                </div>
                                <div class="d-flex justify-content-start mb-4">
                                    <div class="img_cont_msg">
                                        <img src="images/avatar/1.jpg"
                                             class="rounded-circle user_img_msg"
                                             alt="" />
                                    </div>
                                    <div class="msg_cotainer">
                                        I am looking for your next templates
                                        <span class="msg_time">9:07 AM, Today</span>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end mb-4">
                                    <div class="msg_cotainer_send">
                                        Ok, thank you have a good day
                                        <span class="msg_time_send">9:10 AM, Today</span>
                                    </div>
                                    <div class="img_cont_msg">
                                        <img src="images/avatar/2.jpg"
                                             class="rounded-circle user_img_msg"
                                             alt="" />
                                    </div>
                                </div>
                                <div class="d-flex justify-content-start mb-4">
                                    <div class="img_cont_msg">
                                        <img src="images/avatar/1.jpg"
                                             class="rounded-circle user_img_msg"
                                             alt="" />
                                    </div>
                                    <div class="msg_cotainer">
                                        Bye, see you
                                        <span class="msg_time">9:12 AM, Today</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer type_msg">
                                <div class="input-group">
                                    <textarea class="form-control"
                                              placeholder="Type your message..."></textarea>
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-primary">
                                            <i class="fa fa-location-arrow"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="alerts" role="tabpanel">
                        <div class="card mb-sm-3 mb-md-0 contacts_card">
                            <div class="card-header chat-list-header text-center">
                                <a href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink"
                                         width="18px"
                                         height="18px"
                                         viewBox="0 0 24 24"
                                         version="1.1">
                                        <g stroke="none"
                                           stroke-width="1"
                                           fill="none"
                                           fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24" />
                                            <circle fill="#000000" cx="5" cy="12" r="2" />
                                            <circle fill="#000000" cx="12" cy="12" r="2" />
                                            <circle fill="#000000" cx="19" cy="12" r="2" />
                                        </g>
                                    </svg>
                                </a>
                                <div>
                                    <h6 class="mb-1">Notications</h6>
                                    <p class="mb-0">Show All</p>
                                </div>
                                <a href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink"
                                         width="18px"
                                         height="18px"
                                         viewBox="0 0 24 24"
                                         version="1.1">
                                        <g stroke="none"
                                           stroke-width="1"
                                           fill="none"
                                           fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24" />
                                            <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z"
                                                  fill="#000000"
                                                  fill-rule="nonzero"
                                                  opacity="0.3" />
                                            <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z"
                                                  fill="#000000"
                                                  fill-rule="nonzero" />
                                        </g>
                                    </svg>
                                </a>
                            </div>
                            <div class="card-body contacts_body p-0 dz-scroll"
                                 id="DZ_W_Contacts_Body1">
                                <ul class="contacts">
                                    <li class="name-first-letter">SEVER STATUS</li>
                                    <li class="active">
                                        <div class="d-flex bd-highlight">
                                            <div class="img_cont primary">KK</div>
                                            <div class="user_info">
                                                <span>David Nester Birthday</span>
                                                <p class="text-primary">Today</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="name-first-letter">SOCIAL</li>
                                    <li>
                                        <div class="d-flex bd-highlight">
                                            <div class="img_cont success">
                                                RU<i class="icon fa-birthday-cake"></i>
                                            </div>
                                            <div class="user_info">
                                                <span>Perfection Simplified</span>
                                                <p>Jame Smith commented on your status</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="name-first-letter">SEVER STATUS</li>
                                    <li>
                                        <div class="d-flex bd-highlight">
                                            <div class="img_cont primary">
                                                AU<i class="icon fa fa-user-plus"></i>
                                            </div>
                                            <div class="user_info">
                                                <span>AharlieKane</span>
                                                <p>Sami is online</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-flex bd-highlight">
                                            <div class="img_cont info">
                                                MO<i class="icon fa fa-user-plus"></i>
                                            </div>
                                            <div class="user_info">
                                                <span>Athan Jacoby</span>
                                                <p>Nargis left 30 mins ago</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-footer"></div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="notes">
                        <div class="card mb-sm-3 mb-md-0 note_card">
                            <div class="card-header chat-list-header text-center">
                                <a href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink"
                                         width="18px"
                                         height="18px"
                                         viewBox="0 0 24 24"
                                         version="1.1">
                                        <g stroke="none"
                                           stroke-width="1"
                                           fill="none"
                                           fill-rule="evenodd">
                                            <rect fill="#000000"
                                                  x="4"
                                                  y="11"
                                                  width="16"
                                                  height="2"
                                                  rx="1" />
                                            <rect fill="#000000"
                                                  opacity="0.3"
                                                  transform="translate(12.000000, 12.000000) rotate(-270.000000) translate(-12.000000, -12.000000) "
                                                  x="4"
                                                  y="11"
                                                  width="16"
                                                  height="2"
                                                  rx="1" />
                                        </g>
                                    </svg>
                                </a>
                                <div>
                                    <h6 class="mb-1">Notes</h6>
                                    <p class="mb-0">Add New Nots</p>
                                </div>
                                <a href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink"
                                         width="18px"
                                         height="18px"
                                         viewBox="0 0 24 24"
                                         version="1.1">
                                        <g stroke="none"
                                           stroke-width="1"
                                           fill="none"
                                           fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24" />
                                            <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z"
                                                  fill="#000000"
                                                  fill-rule="nonzero"
                                                  opacity="0.3" />
                                            <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z"
                                                  fill="#000000"
                                                  fill-rule="nonzero" />
                                        </g>
                                    </svg>
                                </a>
                            </div>
                            <div class="card-body contacts_body p-0 dz-scroll"
                                 id="DZ_W_Contacts_Body2">
                                <ul class="contacts">
                                    <li class="active">
                                        <div class="d-flex bd-highlight">
                                            <div class="user_info">
                                                <span>New order placed..</span>
                                                <p>10 Aug 2020</p>
                                            </div>
                                            <div class="ms-auto">
                                                <a href="#" class="btn btn-primary btn-xs sharp me-1">
                                                    <i class="fa fa-pencil"></i>
                                                </a>
                                                <a href="#" class="btn btn-danger btn-xs sharp">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-flex bd-highlight">
                                            <div class="user_info">
                                                <span>Youtube, a video-sharing website..</span>
                                                <p>10 Aug 2020</p>
                                            </div>
                                            <div class="ms-auto">
                                                <a href="#" class="btn btn-primary btn-xs sharp me-1">
                                                    <i class="fa fa-pencil"></i>
                                                </a>
                                                <a href="#" class="btn btn-danger btn-xs sharp">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-flex bd-highlight">
                                            <div class="user_info">
                                                <span>john just buy your product..</span>
                                                <p>10 Aug 2020</p>
                                            </div>
                                            <div class="ms-auto">
                                                <a href="#" class="btn btn-primary btn-xs sharp me-1">
                                                    <i class="fa fa-pencil"></i>
                                                </a>
                                                <a href="#" class="btn btn-danger btn-xs sharp">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-flex bd-highlight">
                                            <div class="user_info">
                                                <span>Athan Jacoby</span>
                                                <p>10 Aug 2020</p>
                                            </div>
                                            <div class="ms-auto">
                                                <a href="#" class="btn btn-primary btn-xs sharp me-1">
                                                    <i class="fa fa-pencil"></i>
                                                </a>
                                                <a href="#" class="btn btn-danger btn-xs sharp">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
              Chat box End
          ***********************************-->
        <!--**********************************
              Header start
          ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            <div class="dashboard_bar">App Profile</div>
                        </div>
                        <ul class="navbar-nav header-right">
                            <li class="nav-item">
                                <div class="input-group search-area d-xl-inline-flex d-none">
                                    <input type="text"
                                           class="form-control"
                                           placeholder="Search here"
                                           aria-label="Username"
                                           aria-describedby="header-search" />
                                    <span class="input-group-text" id="header-search">
                                        <a href="javascript:void(0);">
                                            <i class="flaticon-381-search-2"></i>
                                        </a>
                                    </span>
                                </div>
                            </li>
                            <li class="nav-item dropdown notification_dropdown">
                                <a class="nav-link bell dz-theme-mode p-0"
                                   href="javascript:void(0);">
                                    <i id="icon-light" class="fas fa-sun"></i>
                                    <i id="icon-dark" class="fas fa-moon"></i>
                                </a>
                            </li>
                            <li class="nav-item dropdown notification_dropdown">
                                <a class="nav-link ai-icon"
                                   href="javascript:void(0)"
                                   role="button"
                                   data-bs-toggle="dropdown">
                                    <svg width="28"
                                         height="28"
                                         viewBox="0 0 28 28"
                                         fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.4525 25.6682C11.0606 27.0357 12.4091 28 14.0006 28C15.5922 28 16.9407 27.0357 17.5488 25.6682C16.4266 25.7231 15.2596 25.76 14.0006 25.76C12.7418 25.76 11.5748 25.7231 10.4525 25.6682Z"
                                              fill="#3E4954" />
                                        <path d="M26.3531 19.74C24.8769 17.8785 22.3995 14.2195 22.3995 10.64C22.3995 7.09073 20.1192 3.89758 16.7995 2.72382C16.7592 1.21406 15.5183 0 14.0006 0C12.4819 0 11.2421 1.21406 11.2017 2.72382C7.88095 3.89758 5.60064 7.09073 5.60064 10.64C5.60064 14.2207 3.12434 17.8785 1.64706 19.74C1.15427 20.3616 1.00191 21.1825 1.24051 21.9363C1.47348 22.6721 2.05361 23.2422 2.79282 23.4595C4.08755 23.8415 6.20991 24.2715 9.44676 24.491C10.8479 24.5851 12.3543 24.64 14.0007 24.64C15.646 24.64 17.1524 24.5851 18.5535 24.491C21.7914 24.2715 23.9127 23.8415 25.2085 23.4595C25.9477 23.2422 26.5268 22.6722 26.7597 21.9363C26.9983 21.1825 26.8448 20.3616 26.3531 19.74Z"
                                              fill="#3E4954" />
                                    </svg>
                                    <span class="badge light text-white bg-primary">3</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <div id="DZ_W_Notification1"
                                         class="widget-media dz-scroll p-3 height380">
                                        <ul class="timeline">
                                            <li>
                                                <div class="timeline-panel">
                                                    <div class="media me-2">
                                                        <img alt="image"
                                                             width="50"
                                                             src="images/avatar/1.jpg" />
                                                    </div>
                                                    <div class="media-body">
                                                        <h6 class="mb-1">Dr sultads Send you Photo</h6>
                                                        <small class="d-block">29 July 2020 - 02:26 PM</small>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="timeline-panel">
                                                    <div class="media me-2 media-info">KG</div>
                                                    <div class="media-body">
                                                        <h6 class="mb-1">Resport created successfully</h6>
                                                        <small class="d-block">29 July 2020 - 02:26 PM</small>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="timeline-panel">
                                                    <div class="media me-2 media-success">
                                                        <i class="fa fa-home"></i>
                                                    </div>
                                                    <div class="media-body">
                                                        <h6 class="mb-1">Reminder : Treatment Time!</h6>
                                                        <small class="d-block">29 July 2020 - 02:26 PM</small>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="timeline-panel">
                                                    <div class="media me-2">
                                                        <img alt="image"
                                                             width="50"
                                                             src="images/avatar/1.jpg" />
                                                    </div>
                                                    <div class="media-body">
                                                        <h6 class="mb-1">Dr sultads Send you Photo</h6>
                                                        <small class="d-block">29 July 2020 - 02:26 PM</small>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="timeline-panel">
                                                    <div class="media me-2 media-danger">KG</div>
                                                    <div class="media-body">
                                                        <h6 class="mb-1">Resport created successfully</h6>
                                                        <small class="d-block">29 July 2020 - 02:26 PM</small>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="timeline-panel">
                                                    <div class="media me-2 media-primary">
                                                        <i class="fa fa-home"></i>
                                                    </div>
                                                    <div class="media-body">
                                                        <h6 class="mb-1">Reminder : Treatment Time!</h6>
                                                        <small class="d-block">29 July 2020 - 02:26 PM</small>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <a class="all-notification" href="javascript:void(0)">
                                        See all notifications <i class="ti-arrow-right"></i>
                                    </a>
                                </div>
                            </li>
                            <li class="nav-item dropdown notification_dropdown">
                                <a class="nav-link bell bell-link" href="javascript:void(0)">
                                    <svg width="28"
                                         height="28"
                                         viewBox="0 0 28 28"
                                         fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M22.4605 3.84888H5.31688C4.64748 3.84961 4.00571 4.11586 3.53237 4.58919C3.05903 5.06253 2.79279 5.7043 2.79205 6.3737V18.1562C2.79279 18.8256 3.05903 19.4674 3.53237 19.9407C4.00571 20.4141 4.64748 20.6803 5.31688 20.6811C5.54005 20.6812 5.75404 20.7699 5.91184 20.9277C6.06964 21.0855 6.15836 21.2995 6.15849 21.5227V23.3168C6.15849 23.6215 6.24118 23.9204 6.39774 24.1818C6.5543 24.4431 6.77886 24.6571 7.04747 24.8009C7.31608 24.9446 7.61867 25.0128 7.92298 24.9981C8.22729 24.9834 8.52189 24.8863 8.77539 24.7173L14.6173 20.8224C14.7554 20.7299 14.918 20.6807 15.0842 20.6811H19.187C19.7383 20.68 20.2743 20.4994 20.7137 20.1664C21.1531 19.8335 21.4721 19.3664 21.6222 18.8359L24.8966 7.05011C24.9999 6.67481 25.0152 6.28074 24.9414 5.89856C24.8675 5.51637 24.7064 5.15639 24.4707 4.84663C24.235 4.53687 23.931 4.28568 23.5823 4.11263C23.2336 3.93957 22.8497 3.84931 22.4605 3.84888ZM23.2733 6.60304L20.0006 18.3847C19.95 18.5614 19.8432 18.7168 19.6964 18.8275C19.5496 18.9381 19.3708 18.9979 19.187 18.9978H15.0842C14.5856 18.9972 14.0981 19.1448 13.6837 19.4219L7.84171 23.3168V21.5227C7.84097 20.8533 7.57473 20.2115 7.10139 19.7382C6.62805 19.2648 5.98628 18.9986 5.31688 18.9978C5.09371 18.9977 4.87972 18.909 4.72192 18.7512C4.56412 18.5934 4.4754 18.3794 4.47527 18.1562V6.3737C4.4754 6.15054 4.56412 5.93655 4.72192 5.77874C4.87972 5.62094 5.09371 5.53223 5.31688 5.5321H22.4605C22.5905 5.53243 22.7188 5.56277 22.8353 5.62076C22.9517 5.67875 23.0532 5.76283 23.1318 5.86646C23.2105 5.97008 23.2642 6.09045 23.2887 6.21821C23.3132 6.34597 23.308 6.47766 23.2733 6.60304Z"
                                              fill="#3E4954" />
                                        <path d="M7.84173 11.4233H12.0498C12.273 11.4233 12.4871 11.3347 12.6449 11.1768C12.8027 11.019 12.8914 10.8049 12.8914 10.5817C12.8914 10.3585 12.8027 10.1444 12.6449 9.98661C12.4871 9.82878 12.273 9.74011 12.0498 9.74011H7.84173C7.61852 9.74011 7.40446 9.82878 7.24662 9.98661C7.08879 10.1444 7.00012 10.3585 7.00012 10.5817C7.00012 10.8049 7.08879 11.019 7.24662 11.1768C7.40446 11.3347 7.61852 11.4233 7.84173 11.4233Z"
                                              fill="#3E4954" />
                                        <path d="M15.4162 13.1066H7.84173C7.61852 13.1066 7.40446 13.1952 7.24662 13.3531C7.08879 13.5109 7.00012 13.725 7.00012 13.9482C7.00012 14.1714 7.08879 14.3855 7.24662 14.5433C7.40446 14.7011 7.61852 14.7898 7.84173 14.7898H15.4162C15.6394 14.7898 15.8535 14.7011 16.0113 14.5433C16.1692 14.3855 16.2578 14.1714 16.2578 13.9482C16.2578 13.725 16.1692 13.5109 16.0113 13.3531C15.8535 13.1952 15.6394 13.1066 15.4162 13.1066Z"
                                              fill="#3E4954" />
                                    </svg>
                                    <span class="badge light text-white bg-primary">3</span>
                                </a>
                            </li>
                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link"
                                   href="javascript:void(0)"
                                   role="button"
                                   data-bs-toggle="dropdown">
                                    <div class="header-info">
                                        <span class="text-black"><strong>David Heree</strong></span>
                                        <p class="fs-12 mb-0">Super Admin</p>
                                    </div>
                                    <img src="images/profile/17.jpg" width="20" alt="" />
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a href="app-profile.html" class="dropdown-item ai-icon">
                                        <svg id="icon-user1"
                                             xmlns="http://www.w3.org/2000/svg"
                                             class="text-primary"
                                             width="18"
                                             height="18"
                                             viewBox="0 0 24 24"
                                             fill="none"
                                             stroke="currentColor"
                                             stroke-width="2"
                                             stroke-linecap="round"
                                             stroke-linejoin="round">
                                            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                            <circle cx="12" cy="7" r="4"></circle>
                                        </svg>
                                        <span class="ms-2">Profile </span>
                                    </a>
                                    <a href="email-inbox.html" class="dropdown-item ai-icon">
                                        <svg id="icon-inbox"
                                             xmlns="http://www.w3.org/2000/svg"
                                             class="text-success"
                                             width="18"
                                             height="18"
                                             viewBox="0 0 24 24"
                                             fill="none"
                                             stroke="currentColor"
                                             stroke-width="2"
                                             stroke-linecap="round"
                                             stroke-linejoin="round">
                                            <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                                            <polyline points="22,6 12,13 2,6"></polyline>
                                        </svg>
                                        <span class="ms-2">Inbox </span>
                                    </a>
                                    <a href="page-login.html" class="dropdown-item ai-icon">
                                        <svg id="icon-logout"
                                             xmlns="http://www.w3.org/2000/svg"
                                             class="text-danger"
                                             width="18"
                                             height="18"
                                             viewBox="0 0 24 24"
                                             fill="none"
                                             stroke="currentColor"
                                             stroke-width="2"
                                             stroke-linecap="round"
                                             stroke-linejoin="round">
                                            <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                                            <polyline points="16 17 21 12 16 7"></polyline>
                                            <line x1="21" y1="12" x2="9" y2="12"></line>
                                        </svg>
                                        <span class="ms-2">Logout </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
              Header end ti-comment-alt
          ***********************************-->
        <!--**********************************
              Sidebar start
          ***********************************-->
        <div class="deznav">
            <div class="deznav-scroll">
                <ul class="metismenu" id="menu">
                    <li>
                        <a class="has-arrow ai-icon"
                           href="javascript:void()"
                           aria-expanded="false">
                            <i class="flaticon-381-networking"></i>
                            <span class="nav-text">Dashboard</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="index.html">Dashboard Light</a></li>
                            <li><a href="index2.html">Dashboard Dark</a></li>
                            <li><a href="search-job.html">Search Job</a></li>
                            <li><a href="application.html">Application</a></li>
                            <li><a href="profile.html">Profile</a></li>
                            <li><a href="statistics.html">Statistics</a></li>
                            <li><a href="companies.html">Companies</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow ai-icon"
                           href="javascript:void()"
                           aria-expanded="false">
                            <i class="flaticon-381-television"></i>
                            <span class="nav-text">Apps</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="app-profile.html">Profile</a></li>
                            <li><a href="post-details.html">Post Details</a></li>
                            <li>
                                <a class="has-arrow"
                                   href="javascript:void()"
                                   aria-expanded="false">Email</a>
                                <ul aria-expanded="false">
                                    <li><a href="email-compose.html">Compose</a></li>
                                    <li><a href="email-inbox.html">Inbox</a></li>
                                    <li><a href="email-read.html">Read</a></li>
                                </ul>
                            </li>
                            <li><a href="app-calender.html">Calendar</a></li>
                            <li>
                                <a class="has-arrow"
                                   href="javascript:void()"
                                   aria-expanded="false">Shop</a>
                                <ul aria-expanded="false">
                                    <li><a href="ecom-product-grid.html">Product Grid</a></li>
                                    <li><a href="ecom-product-list.html">Product List</a></li>
                                    <li>
                                        <a href="ecom-product-detail.html">Product Details</a>
                                    </li>
                                    <li><a href="ecom-product-order.html">Order</a></li>
                                    <li><a href="ecom-checkout.html">Checkout</a></li>
                                    <li><a href="ecom-invoice.html">Invoice</a></li>
                                    <li><a href="ecom-customers.html">Customers</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow ai-icon"
                           href="javascript:void()"
                           aria-expanded="false">
                            <i class="flaticon-381-controls-3"></i>
                            <span class="nav-text">Charts</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="chart-flot.html">Flot</a></li>
                            <li><a href="chart-morris.html">Morris</a></li>
                            <li><a href="chart-chartjs.html">Chartjs</a></li>
                            <li><a href="chart-chartist.html">Chartist</a></li>
                            <li><a href="chart-sparkline.html">Sparkline</a></li>
                            <li><a href="chart-peity.html">Peity</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow ai-icon"
                           href="javascript:void()"
                           aria-expanded="false">
                            <i class="flaticon-381-internet"></i>
                            <span class="nav-text">Bootstrap</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="ui-accordion.html">Accordion</a></li>
                            <li><a href="ui-alert.html">Alert</a></li>
                            <li><a href="ui-badge.html">Badge</a></li>
                            <li><a href="ui-button.html">Button</a></li>
                            <li><a href="ui-modal.html">Modal</a></li>
                            <li><a href="ui-button-group.html">Button Group</a></li>
                            <li><a href="ui-list-group.html">List Group</a></li>
                            <li><a href="ui-media-object.html">Media Object</a></li>
                            <li><a href="ui-card.html">Cards</a></li>
                            <li><a href="ui-carousel.html">Carousel</a></li>
                            <li><a href="ui-dropdown.html">Dropdown</a></li>
                            <li><a href="ui-popover.html">Popover</a></li>
                            <li><a href="ui-progressbar.html">Progressbar</a></li>
                            <li><a href="ui-tab.html">Tab</a></li>
                            <li><a href="ui-typography.html">Typography</a></li>
                            <li><a href="ui-pagination.html">Pagination</a></li>
                            <li><a href="ui-grid.html">Grid</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow ai-icon"
                           href="javascript:void()"
                           aria-expanded="false">
                            <i class="flaticon-381-heart"></i>
                            <span class="nav-text">Plugins</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="uc-select2.html">Select 2</a></li>
                            <li><a href="uc-nestable.html">Nestedable</a></li>
                            <li><a href="uc-noui-slider.html">Noui Slider</a></li>
                            <li><a href="uc-sweetalert.html">Sweet Alert</a></li>
                            <li><a href="uc-toastr.html">Toastr</a></li>
                            <li><a href="map-jqvmap.html">Jqv Map</a></li>
                            <li><a href="uc-lightgallery.html">Lightgallery</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="widget-basic.html" class="ai-icon" aria-expanded="false">
                            <i class="flaticon-381-settings-2"></i>
                            <span class="nav-text">Widget</span>
                        </a>
                    </li>
                    <li>
                        <a class="has-arrow ai-icon"
                           href="javascript:void()"
                           aria-expanded="false">
                            <i class="flaticon-381-notepad"></i>
                            <span class="nav-text">Forms</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="form-element.html">Form Elements</a></li>
                            <li><a href="form-wizard.html">Wizard</a></li>
                            <li><a href="form-editor-summernote.html">Summernote</a></li>
                            <li><a href="form-pickers.html">Pickers</a></li>
                            <li>
                                <a href="form-validation-jquery.html">Jquery Validate</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow ai-icon"
                           href="javascript:void()"
                           aria-expanded="false">
                            <i class="flaticon-381-network"></i>
                            <span class="nav-text">Table</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="table-bootstrap-basic.html">Bootstrap</a></li>
                            <li><a href="table-datatable-basic.html">Datatable</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow ai-icon"
                           href="javascript:void()"
                           aria-expanded="false">
                            <i class="flaticon-381-layer-1"></i>
                            <span class="nav-text">Pages</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="page-register.html">Register</a></li>
                            <li><a href="page-login.html">Login</a></li>
                            <li>
                                <a class="has-arrow"
                                   href="javascript:void()"
                                   aria-expanded="false">Error</a>
                                <ul aria-expanded="false">
                                    <li><a href="page-error-400.html">Error 400</a></li>
                                    <li><a href="page-error-403.html">Error 403</a></li>
                                    <li><a href="page-error-404.html">Error 404</a></li>
                                    <li><a href="page-error-500.html">Error 500</a></li>
                                    <li><a href="page-error-503.html">Error 503</a></li>
                                </ul>
                            </li>
                            <li><a href="page-lock-screen.html">Lock Screen</a></li>
                        </ul>
                    </li>
                </ul>

                <div class="copyright">
                    <p>
                        <strong>Qerza Job Portal Admin Dashboard</strong> © 2023 All
                        Rights Reserved
                    </p>
                    <p>Made with <span class="heart"></span> by DexignZone</p>
                </div>
            </div>
        </div>
        <!--**********************************
              Sidebar end
          ***********************************-->
        <!--**********************************
              Content body start
          ***********************************-->
        <div class="content-body">
            @RenderBody()
        </div>
        <!--**********************************
              Content body end
          ***********************************-->
        <!--**********************************
              Footer start
          ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>
                    Copyright © Designed &amp; Developed by
                    <a href="http://dexignzone.com/" target="_blank">DexignZone</a> 2023
                </p>
            </div>
        </div>
        <!--**********************************
              Footer end
          ***********************************-->
        <!--**********************************
             Support ticket button start
          ***********************************-->
        <!--**********************************
             Support ticket button end
          ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->
    <!--removeIf(production)-->
    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="~/lib_template/vendor/global/global.min.js"></script>
    <script src="~/lib_template/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="~/lib_template/vendor/lightgallery/js/lightgallery-all.min.js"></script>
    <script src="~/lib_template/js/custom.min.js"></script>
    <script src="~/lib_template/js/deznav-init.js"></script>

    <script>
        $("#lightgallery").lightGallery({
            thumbnail: true,
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
