<div class="header">
    <div class="header-content">
        <nav class="navbar navbar-expand">
            <div class="collapse navbar-collapse justify-content-between">
                <div class="header-left">
                    <div class="dashboard_bar">App Profile</div>
                </div>
                <ul class="navbar-nav header-right">

                    <li class="nav-item dropdown notification_dropdown">
                        <a class="nav-link bell dz-theme-mode p-0" href="javascript:void(0);">
                            <i id="icon-light" class="fas fa-sun"></i>
                            <i id="icon-dark" class="fas fa-moon"></i>
                        </a>
                    </li>


                    <li class="nav-item dropdown header-profile">
                        <a class="nav-link show" href="javascript:void(0)" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                            <div class="header-info">
                                <span class="text-black"><strong>David Heree</strong></span>
                                <p class="fs-12 mb-0">Super Admin</p>
                            </div>
                            <img src="images/profile/17.jpg" width="20" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>