<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a class="has-arrow ai-icon"
                   href="/Home/Index"
                   aria-expanded="false">
                    <i class="flaticon-381-networking"></i>
                    <span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a class="has-arrow ai-icon"
                   href="/Motorbike/Index"
                   aria-expanded="false">
                    <i class="flaticon-381-networking"></i>
                    <span class="nav-text">Motorbikes</span>
                </a>
            </li>
            <li>
                <a class="has-arrow ai-icon"
                   href="javascript:void()"
                   aria-expanded="false">
                    <i class="flaticon-381-networking"></i>
                    <span class="nav-text">Transactions</span>
                </a>
            </li>
            <li>
                <a class="has-arrow ai-icon"
                   href="javascript:void()"
                   aria-expanded="false">
                    <i class="flaticon-381-networking"></i>
                    <span class="nav-text">statistical</span>
                </a>
            </li>
        </ul>
    </div>
</div>